opencv-python
boto3
fastapi
uvicorn
python-multipart
uvicorn[standard]
PyMuPDF
openai
faiss-cpu
python-dotenv
newberryai
pydantic
requests
pandas
mysql-connector-python
aiohttp
httpx
webrtcvad
websockets
asyncio
Werkzeug
sqlalchemy
pillow
psycopg2
numpy<2
Pillow
torch>=2.0,<2.6
transformers==4.40.2
